body{
font-family: 'Roboto', sans-serif;
}

.bg-dark{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSbB1pU2gorRc-KjxLeIxunDdfWV6idxhKidV0rWSwe-lCKVyM_&usqp=CAU");
  min-height: 50vh;
}

.container-size{
  min-height: 30vh;
}